:root {
    --poppins-font: 'Poppins';
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.container {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/* nav  */

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

nav .container img {
    max-width: 200px;
}

nav .container a {
    text-decoration: none;
    color: #f859ab;
    padding: 10px 50px 10px 50px;
    display: block;
    border-radius: 30px;
    transition: 0.1s;
    border: 1px solid #f859ab;
}

nav .container a:hover {
    color: #d5a9c0;
    border: 1px solid #d5a9c0;

}

@media (max-width: 400px) {
    nav .container a {
        width: max-content;
        font-size: 12px;
    }
}

/* header */

header .container:nth-child(2) {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}

header .container .header__content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 50%;
}

header .container .header__image {
    flex: 50%;
    max-width: 820px;
}

header .container .header__content h1 {
    line-height: 3.5rem;
}

header .container .header__content a {
    text-decoration: none;
    color: #000;
    background-color: #fe52c0;
    padding: 10px 50px 10px 50px;
    display: block;
    text-align: center;
    max-width: max-content;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--poppins-font);
    transition: 0.1s;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

header .container .header__content a:hover {
    background-color: #ff9bdb;
}

header .container .header__content:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 190px;
    margin-top: 50px;
}

header .container .header__content:nth-child(3) .item {
    position: relative;
}

header .container .header__content:nth-child(3) .item:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url(../images/icon-communities.svg);
    background-size: cover;
    width: 50px;
    height: 40px;
    top: -30px;
    left: 0;
}

header .container .header__content:nth-child(3) .item:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url(../images/icon-messages.svg);
    background-size: cover;
    width: 50px;
    height: 40px;
    top: -30px;
    left: 0;
}

header .container .header__content:nth-child(3) h2 {
    font-size: 80px;
}

header .container .header__content:nth-child(3) p {
    color: #adb1b4;
}


@media (max-width: 1030px) {
    header .container:nth-of-type(2) {
        flex-direction: column;
        justify-content: center;
    }

    header .container .header__content {
        text-align: center;
        align-items: center;
    }

    nav .container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 750px) {
    header .container .header__content:nth-child(3) {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    header .container .header__image {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    nav .container a {
        padding: 10px 30px 10px 30px;
    }

    nav .container img {
        max-width: 180px;
    }
}

/* main */
main section {
    position: relative;
}

main section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 30px 40px 30px 40px;
    border-radius: 5px;
}

main section .container .section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main section .container .section__image {
    max-width: 500px;
}

main section .container h1 {
    font-family: var(--poppins-font);
    font-weight: 600;
}

main section:nth-of-type(4) .container {
    max-width: max-content;
    padding: 40px 100px 40px 100px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    top: -100px;
}

main section:nth-of-type(4) .container a {
    text-decoration: none;
    color: #000;
    background-color: #fe52c0;
    padding: 20px 20% 20px 20%;
    display: block;
    text-align: center;
    max-width: max-content;
    border-radius: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: var(--poppins-font);
    transition: 0.1s;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

main section:nth-of-type(4) .container a:hover {
    background-color: #ff9bdb;
}

main section:nth-of-type(1),
main section:nth-of-type(1) .container,
main section:nth-of-type(3),
main section:nth-of-type(3) .container {
    background-color: #f6fbff;
}

main section:nth-of-type(4) {
    margin-bottom: 100px;
}

@media (max-width: 950px) {
    main section .container {
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 700px;
    }

    main section:nth-of-type(1) .container,
    main section:nth-of-type(3) .container {
        flex-direction: column-reverse;
    }

    main section:nth-of-type(2) .container {
        flex-direction: column;
    }

    main section .container .section__content p {
        max-width: 500px;
    }
}

/* footer */
footer section {
    background-color: #00252e;
    padding-top: 200px;
    color: #ffffff;
    padding-bottom: 100px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

footer .container .item:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

footer .container .item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-top: 80px;
}

footer .container .item:nth-of-type(2) form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

footer .container .item:nth-of-type(2) input:nth-of-type(1) {
    width: 250px;
    height: 35px;
}

footer .container .item:nth-of-type(2) input:nth-of-type(2) {
    background-color: #f859ab;
    color: #fff;
    font-weight: 700;
    padding: 5px;
}

footer .container .line {
    display: flex;
    gap: 20px;
    align-items: center;
}

footer .container p {
    max-width: 400px;
}

footer .container a {
    text-decoration: none;
    color: #ffffff;
}

footer .container .line img {
    max-width: 20px;
    display: block;
}

@media (max-width: 1000px) {
    footer .container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
    }

    footer .container .item:nth-of-type(2) {
        flex-direction: column;
    }
}

.bg-curves {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.bg-curves--one {
    background-image: url(../images/bg-section-top-desktop-1.svg);
}

.bg-curves--two {
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
}

.bg-curves--three {
    background-image: url(../images/bg-section-top-desktop-2.svg);
}

.bg-curves--four {
    background-image: url(../images/bg-section-bottom-desktop-2.svg);
}

.bg-curves--five {
    background-image: url(../images/bg-footer-top-desktop.svg);
}

@media(max-width: 750px) {
    .bg-curves--one {
        background-image: url(../images/bg-section-top-mobile-1.svg);
    }

    .bg-curves--two {
        background-image: url(../images/bg-section-bottom-mobile-1.svg);
    }

    .bg-curves--three {
        background-image: url(../images/bg-section-top-mobile-2.svg);
    }

    .bg-curves--four {
        background-image: url(../images/bg-section-bottom-mobile-2.svg);
    }

    .bg-curves--five {
        background-image: url(../images/bg-footer-top-mobile.svg);
    }
}